body {
   background-color: #353941 !important;
}
#board{
   border: 1px solid black;
   height: 500px;
   position: relative;
   display: flex;
  justify-content: center;
  
}
.barStyle{
   background-color: #fbfbfb;
   border: 1px solid black;
   width: 10px;
   display: inline-block;
   margin: 1px;
}  
